<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.okr.dao.domain.HomeBanner">
	<resultMap type="HomeBanner" id="baseResultMap">
		<result property="id" column="id" jdbcType="BIGINT" />
		<result property="subjectId" column="subject_id"  jdbcType="VARCHAR"/>
		<result property="addDate" column="add_date"  jdbcType="TIMESTAMP"/>
		<result property="imageUrl" column="image_url"  jdbcType="VARCHAR"/>
		<result property="isValid" column="is_valid"  jdbcType="TINYINT"/>
	</resultMap>
	
	<sql id="selectSql">
		SELECT
			id AS id,
			<trim prefix="" suffixOverrides=",">
			subject_id AS subjectId,
			add_date AS addDate,
			image_url AS imageUrl,
			is_valid AS isValid,
			</trim>
		FROM home_banner
	</sql>
	
	<sql id="whereSql">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="subjectId != null">
				AND subject_id = #{subjectId}
			</if>
			<if test="addDate != null">
				AND add_date = #{addDate}
			</if>
			<if test="imageUrl != null">
				AND image_url = #{imageUrl}
			</if>
			<if test="isValid != null">
				AND is_valid = #{isValid}
			</if>
		</trim>
	</sql>
	
	<sql id="whereSqlPaging">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="param.subjectId != null">
				AND subject_id = #{param.subjectId}
			</if>
			<if test="param.addDate != null">
				AND add_date = #{param.addDate}
			</if>
			<if test="param.imageUrl != null">
				AND image_url = #{param.imageUrl}
			</if>
			<if test="param.isValid != null">
				AND is_valid = #{param.isValid}
			</if>
		</trim>
	</sql>
	
	<sql id="updateSql">
		UPDATE home_banner
		<trim prefix="SET" suffixOverrides=",">
			<if test="subjectId != null">
				subject_id = #{subjectId},
			</if>
			<if test="addDate != null">
				add_date = #{addDate},
			</if>
			<if test="imageUrl != null">
				image_url = #{imageUrl},
			</if>
			<if test="isValid != null">
				is_valid = #{isValid},
			</if>
		</trim>
	</sql>

	<sql id="deleteSql">
		DELETE from home_banner
	</sql>

	<sql id="insertColume">
		<trim prefix="" suffixOverrides=",">
			id,
			<if test="subjectId != null">
				subject_id,
			</if>
			<if test="addDate != null">
				add_date,
			</if>
			<if test="imageUrl != null">
				image_url,
			</if>
			<if test="isValid != null">
				is_valid,
			</if>
		</trim>
	</sql>

	<sql id="insertValue">
		<trim prefix="" suffixOverrides=",">
			#{id},
			<if test="subjectId != null">
				#{subjectId},
			</if>
			<if test="addDate != null">
				#{addDate},
			</if>
			<if test="imageUrl != null">
				#{imageUrl},
			</if>
			<if test="isValid != null">
				#{isValid},
			</if>
		</trim>
	</sql>
	
	<sql id="pagingSql">
		<trim prefix="" suffixOverrides=",">
			<if test="limit != null">
				limit #{offset},#{limit}
			</if>
		</trim>
	</sql>
	
	<insert id="insert" parameterType="HomeBanner" >
		INSERT INTO home_banner(
			<include refid="insertColume"/>
		) VALUE (
			<include refid="insertValue"/>
		)
	</insert>
	
	<update id="update" parameterType="HomeBanner">
		<include refid="updateSql" />
		<include refid="whereSql" />
	</update>
	
	<delete id="delete" parameterType="HomeBanner">
		<include refid="deleteSql" />
		<include refid="whereSql" />
	</delete>
	
	<select id="load" parameterType="HomeBanner" resultType="HomeBanner">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="queryForAll" parameterType="HomeBanner" resultType="HomeBanner">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="selectCount" parameterType="PagingParam"
		resultType="Integer">
		SELECT COUNT(ID) AS count FROM subject
		<include refid="whereSqlPaging" />
	</select>
	
	<select id="queryForPage" parameterType="PagingParam" resultType="HomeBanner">
		<include refid="selectSql" />
		<include refid="whereSqlPaging" />
		<include refid="pagingSql" />
	</select>
	
</mapper>
