<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.okr.dao.domain.SalonAttachment">
	<resultMap type="SalonAttachment" id="baseResultMap">
		<result property="salonId" column="salon_id"  jdbcType="VARCHAR"/>
		<result property="attachType" column="attach_type"  jdbcType="VARCHAR"/>
		<result property="attachName" column="attach_name"  jdbcType="VARCHAR"/>
		<result property="attachUrl" column="attach_url"  jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="selectSql">
		SELECT
			id AS id,
			<trim prefix="" suffixOverrides=",">
			salon_id AS salonId,
			attach_type AS attachType,
			attach_name AS attachName,
			attach_url AS attachUrl,
			</trim>
		FROM salon_attachment
	</sql>
	
	<sql id="whereSql">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="salonId != null">
				AND salon_id = #{salonId}
			</if>
			<if test="attachType != null">
				AND attach_type = #{attachType}
			</if>
			<if test="attachName != null">
				AND attach_name = #{attachName}
			</if>
			<if test="attachUrl != null">
				AND attach_url = #{attachUrl}
			</if>
		</trim>
	</sql>
	
	<sql id="whereSqlPaging">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="param.salonId != null">
				AND salon_id = #{param.salonId}
			</if>
			<if test="param.attachType != null">
				AND attach_type = #{param.attachType}
			</if>
			<if test="param.attachName != null">
				AND attach_name = #{param.attachName}
			</if>
			<if test="param.attachUrl != null">
				AND attach_url = #{param.attachUrl}
			</if>
		</trim>
	</sql>
	
	<sql id="updateSql">
		UPDATE salon_attachment
		<trim prefix="SET" suffixOverrides=",">
			<if test="salonId != null">
				salon_id = #{salonId},
			</if>
			<if test="attachType != null">
				attach_type = #{attachType},
			</if>
			<if test="attachName != null">
				attach_name = #{attachName},
			</if>
			<if test="attachUrl != null">
				attach_url = #{attachUrl},
			</if>
		</trim>
	</sql>

	<sql id="deleteSql">
		DELETE from salon_attachment
	</sql>

	<sql id="insertColume">
		<trim prefix="" suffixOverrides=",">
			id,
			<if test="salonId != null">
				salon_id,
			</if>
			<if test="attachType != null">
				attach_type,
			</if>
			<if test="attachName != null">
				attach_name,
			</if>
			<if test="attachUrl != null">
				attach_url,
			</if>
		</trim>
	</sql>

	<sql id="insertValue">
		<trim prefix="" suffixOverrides=",">
			<if test="salonId != null">
				#{salonId},
			</if>
			<if test="attachType != null">
				#{attachType},
			</if>
			<if test="attachName != null">
				#{attachName},
			</if>
			<if test="attachUrl != null">
				#{attachUrl},
			</if>
		</trim>
	</sql>
	
	<sql id="pagingSql">
		<trim prefix="" suffixOverrides=",">
			<if test="limit != null">
				limit #{offset},#{limit}
			</if>
		</trim>
	</sql>
	
	<insert id="insert" parameterType="SalonAttachment" >
		INSERT INTO salon_attachment(
			<include refid="insertColume"/>
		) VALUE (
			<include refid="insertValue"/>
		)
	</insert>
	
	<update id="update" parameterType="SalonAttachment">
		<include refid="updateSql" />
		<include refid="whereSql" />
	</update>
	
	<delete id="delete" parameterType="SalonAttachment">
		<include refid="deleteSql" />
		<include refid="whereSql" />
	</delete>
	
	<select id="load" parameterType="SalonAttachment" resultType="SalonAttachment">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="queryForAll" parameterType="SalonAttachment" resultType="SalonAttachment">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="selectCount" parameterType="PagingParam"
		resultType="Integer">
		SELECT COUNT(ID) AS count FROM subject
		<include refid="whereSqlPaging" />
	</select>
	
	<select id="queryForPage" parameterType="PagingParam" resultType="SalonAttachment">
		<include refid="selectSql" />
		<include refid="whereSqlPaging" />
		<include refid="pagingSql" />
	</select>
	
</mapper>
