<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.okr.dao.domain.SubjectMember">
	<resultMap type="SubjectMember" id="baseResultMap">
		<result property="subjectId" column="subject_id"  jdbcType="VARCHAR"/>
		<result property="memId" column="mem_id"  jdbcType="VARCHAR"/>
		<result property="joinDate" column="join_date"  jdbcType="DATE"/>
		<result property="memType" column="mem_type"  jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="selectSql">
		SELECT
			id AS id,
			<trim prefix="" suffixOverrides=",">
			subject_id AS subjectId,
			mem_id AS memId,
			join_date AS joinDate,
			mem_type AS memType,
			</trim>
		FROM subject_member
	</sql>
	
	<sql id="whereSql">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="subjectId != null">
				AND subject_id = #{subjectId}
			</if>
			<if test="memId != null">
				AND mem_id = #{memId}
			</if>
			<if test="joinDate != null">
				AND join_date = #{joinDate}
			</if>
			<if test="memType != null">
				AND mem_type = #{memType}
			</if>
		</trim>
	</sql>
	
	<sql id="whereSqlPaging">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="param.subjectId != null">
				AND subject_id = #{param.subjectId}
			</if>
			<if test="param.memId != null">
				AND mem_id = #{param.memId}
			</if>
			<if test="param.joinDate != null">
				AND join_date = #{param.joinDate}
			</if>
			<if test="param.memType != null">
				AND mem_type = #{param.memType}
			</if>
		</trim>
	</sql>
	
	<sql id="updateSql">
		UPDATE subject_member
		<trim prefix="SET" suffixOverrides=",">
			<if test="subjectId != null">
				subject_id = #{subjectId},
			</if>
			<if test="memId != null">
				mem_id = #{memId},
			</if>
			<if test="joinDate != null">
				join_date = #{joinDate},
			</if>
			<if test="memType != null">
				mem_type = #{memType},
			</if>
		</trim>
	</sql>

	<sql id="deleteSql">
		DELETE from subject_member
	</sql>

	<sql id="insertColume">
		<trim prefix="" suffixOverrides=",">
			id,
			<if test="subjectId != null">
				subject_id,
			</if>
			<if test="memId != null">
				mem_id,
			</if>
			<if test="joinDate != null">
				join_date,
			</if>
			<if test="memType != null">
				mem_type,
			</if>
		</trim>
	</sql>

	<sql id="insertValue">
		<trim prefix="" suffixOverrides=",">
			<if test="subjectId != null">
				#{subjectId},
			</if>
			<if test="memId != null">
				#{memId},
			</if>
			<if test="joinDate != null">
				#{joinDate},
			</if>
			<if test="memType != null">
				#{memType},
			</if>
		</trim>
	</sql>
	
	<sql id="pagingSql">
		<trim prefix="" suffixOverrides=",">
			<if test="limit != null">
				limit #{offset},#{limit}
			</if>
		</trim>
	</sql>
	
	<insert id="insert" parameterType="SubjectMember" >
		INSERT INTO subject_member(
			<include refid="insertColume"/>
		) VALUE (
			<include refid="insertValue"/>
		)
	</insert>
	
	<update id="update" parameterType="SubjectMember">
		<include refid="updateSql" />
		<include refid="whereSql" />
	</update>
	
	<delete id="delete" parameterType="SubjectMember">
		<include refid="deleteSql" />
		<include refid="whereSql" />
	</delete>
	
	<select id="load" parameterType="SubjectMember" resultType="SubjectMember">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="queryForAll" parameterType="SubjectMember" resultType="SubjectMember">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="selectCount" parameterType="PagingParam"
		resultType="Integer">
		SELECT COUNT(ID) AS count FROM subject
		<include refid="whereSqlPaging" />
	</select>
	
	<select id="queryForPage" parameterType="PagingParam" resultType="SubjectMember">
		<include refid="selectSql" />
		<include refid="whereSqlPaging" />
		<include refid="pagingSql" />
	</select>
	
</mapper>
