<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.okr.dao.domain.subject.Subject">
	<resultMap type="Subject" id="baseResultMap">
		<result property="id" column="id"  jdbcType="VARCHAR"/>
		<result property="name" column="name"  jdbcType="VARCHAR"/>
		<result property="briefContent" column="brief_content"  jdbcType="VARCHAR"/>
		<result property="content" column="content"  jdbcType="VARCHAR"/>
		<result property="icon" column="icon"  jdbcType="VARCHAR"/>
		<result property="leaderId" column="leader_id"  jdbcType="VARCHAR"/>
		<result property="status" column="status"  jdbcType="VARCHAR"/>
		<result property="type" column="type"  jdbcType="VARCHAR"/>
		<result property="startupDate" column="startup_date"  jdbcType="DATE"/>
		<result property="createId" column="create_id"  jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time"  jdbcType="DATE"/>
		<result property="lastModifiedId" column="last_modified_id"  jdbcType="VARCHAR"/>
		<result property="lastModifiedTime" column="last_modified_time"  jdbcType="DATE"/>
	</resultMap>
	
	<sql id="selectSql">
		SELECT
			id AS id,
			<trim prefix="" suffixOverrides=",">
			name AS name,
			brief_content AS briefContent,
			content AS content,
			icon AS icon,
			leader_id AS leaderId,
			status AS status,
			type AS type,
			startup_date AS startupDate,
			create_id AS createId,
			create_time AS createTime,
			last_modified_id AS lastModifiedId,
			last_modified_time AS lastModifiedTime,
			</trim>
		FROM subject
	</sql>
	
	<sql id="whereSql">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="briefContent != null">
				AND brief_content = #{briefContent}
			</if>
			<if test="content != null">
				AND content = #{content}
			</if>
			<if test="icon != null">
				AND icon = #{icon}
			</if>
			<if test="leaderId != null">
				AND leader_id = #{leaderId}
			</if>
			<if test="status != null">
				AND status = #{status}
			</if>
			<if test="type != null">
				AND type = #{type}
			</if>
			<if test="startupDate != null">
				AND startup_date = #{startupDate}
			</if>
			<if test="createId != null">
				AND create_id = #{createId}
			</if>
			<if test="createTime != null">
				AND create_time = #{createTime}
			</if>
			<if test="lastModifiedId != null">
				AND last_modified_id = #{lastModifiedId}
			</if>
			<if test="lastModifiedTime != null">
				AND last_modified_time = #{lastModifiedTime}
			</if>
		</trim>
	</sql>
	
	<sql id="whereSqlPaging">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="param.name != null">
				AND name = #{param.name}
			</if>
			<if test="param.briefContent != null">
				AND brief_content = #{param.briefContent}
			</if>
			<if test="param.content != null">
				AND content = #{param.content}
			</if>
			<if test="param.icon != null">
				AND icon = #{param.icon}
			</if>
			<if test="param.leaderId != null">
				AND leader_id = #{param.leaderId}
			</if>
			<if test="param.status != null">
				AND status = #{param.status}
			</if>
			<if test="param.type != null">
				AND type = #{param.type}
			</if>
			<if test="param.startupDate != null">
				AND startup_date = #{param.startupDate}
			</if>
			<if test="param.createId != null">
				AND create_id = #{param.createId}
			</if>
			<if test="param.createTime != null">
				AND create_time = #{param.createTime}
			</if>
			<if test="param.lastModifiedId != null">
				AND last_modified_id = #{param.lastModifiedId}
			</if>
			<if test="param.lastModifiedTime != null">
				AND last_modified_time = #{param.lastModifiedTime}
			</if>
		</trim>
	</sql>
	
	<sql id="updateSql">
		UPDATE subject
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">
				name = #{name},
			</if>
			<if test="briefContent != null">
				brief_content = #{briefContent},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="icon != null">
				icon = #{icon},
			</if>
			<if test="leaderId != null">
				leader_id = #{leaderId},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="startupDate != null">
				startup_date = #{startupDate},
			</if>
			<if test="createId != null">
				create_id = #{createId},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="lastModifiedId != null">
				last_modified_id = #{lastModifiedId},
			</if>
			<if test="lastModifiedTime != null">
				last_modified_time = #{lastModifiedTime},
			</if>
		</trim>
	</sql>

	<sql id="deleteSql">
		DELETE from subject
	</sql>

	<sql id="insertColume">
		<trim prefix="" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="briefContent != null">
				brief_content,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="leaderId != null">
				leader_id,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="startupDate != null">
				startup_date,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="lastModifiedId != null">
				last_modified_id,
			</if>
			<if test="lastModifiedTime != null">
				last_modified_time,
			</if>
		</trim>
	</sql>

	<sql id="insertValue">
		<trim prefix="" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="briefContent != null">
				#{briefContent},
			</if>
			<if test="content != null">
				#{content},
			</if>
			<if test="icon != null">
				#{icon},
			</if>
			<if test="leaderId != null">
				#{leaderId},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="type != null">
				#{type},
			</if>
			<if test="startupDate != null">
				#{startupDate},
			</if>
			<if test="createId != null">
				#{createId},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="lastModifiedId != null">
				#{lastModifiedId},
			</if>
			<if test="lastModifiedTime != null">
				#{lastModifiedTime},
			</if>
		</trim>
	</sql>
	
	<sql id="pagingSql">
		<trim prefix="" suffixOverrides=",">
			<if test="limit != null">
				limit #{offset},#{limit}
			</if>
		</trim>
	</sql>
	
	<insert id="insert" parameterType="Subject" >
		INSERT INTO subject(
			<include refid="insertColume"/>
		) VALUE (
			<include refid="insertValue"/>
		)
	</insert>
	
	<update id="update" parameterType="Subject">
		<include refid="updateSql" />
		WHERE ID = #{id}
	</update>
	
	<delete id="delete" parameterType="Subject">
		<include refid="deleteSql" />
		<include refid="whereSql" />
	</delete>
	
	<select id="load" parameterType="Subject" resultType="Subject">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="queryForAll" parameterType="Subject" resultType="Subject">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="selectCount" parameterType="Subject"
		resultType="Integer">
		SELECT COUNT(1) AS count FROM subject
		<include refid="whereSql" />
	</select>
	
	<select id="countForPage" parameterType="PagingParam"
		resultType="Integer">
		SELECT COUNT(1) AS count FROM subject
		<include refid="whereSqlPaging" />
	</select>
	
	<select id="queryForPage" parameterType="PagingParam" resultType="Subject">
		<include refid="selectSql" />
		<include refid="whereSqlPaging" />
		<include refid="pagingSql" />
	</select>
	
</mapper>
