<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmb.okr.dao.domain.auth.User">
	<resultMap type="User" id="baseResultMap">
		<result property="id" column="id"  jdbcType="VARCHAR"/>
		<result property="name" column="name"  jdbcType="VARCHAR"/>
		<result property="loginName" column="login_name"  jdbcType="VARCHAR"/>
		<result property="password" column="password"  jdbcType="VARCHAR"/>
		<result property="salt" column="salt"  jdbcType="VARCHAR"/>
		<result property="icon" column="icon"  jdbcType="VARCHAR"/>
		<result property="phone" column="phone"  jdbcType="VARCHAR"/>
		<result property="email" column="email"  jdbcType="VARCHAR"/>
		<result property="nickName" column="nick_name"  jdbcType="VARCHAR"/>
		<result property="ystCode" column="yst_code"  jdbcType="VARCHAR"/>
		<result property="userType" column="user_type"  jdbcType="VARCHAR"/>
	</resultMap>
	
	<sql id="selectSql">
		SELECT
			id AS id,
			<trim prefix="" suffixOverrides=",">
			name AS name,
			login_name AS loginName,
			password AS password,
			salt AS salt,
			icon AS icon,
			phone AS phone,
			email AS email,
			nick_name AS nickName,
			yst_code AS ystCode,
			user_type AS userType,
			</trim>
		FROM user
	</sql>
	
	<sql id="whereSql">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="name != null">
				AND name = #{name}
			</if>
			<if test="loginName != null">
				AND login_name = #{loginName}
			</if>
			<if test="password != null">
				AND password = #{password}
			</if>
			<if test="salt != null">
				AND salt = #{salt}
			</if>
			<if test="icon != null">
				AND icon = #{icon}
			</if>
			<if test="phone != null">
				AND phone = #{phone}
			</if>
			<if test="email != null">
				AND email = #{email}
			</if>
			<if test="nickName != null">
				AND nick_name = #{nickName}
			</if>
			<if test="ystCode != null">
				AND yst_code = #{ystCode}
			</if>
			<if test="userType != null">
				AND user_type = #{userType}
			</if>
		</trim>
	</sql>
	
	<sql id="whereSqlPaging">
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="param.name != null">
				AND name = #{param.name}
			</if>
			<if test="param.loginName != null">
				AND login_name = #{param.loginName}
			</if>
			<if test="param.password != null">
				AND password = #{param.password}
			</if>
			<if test="param.salt != null">
				AND salt = #{param.salt}
			</if>
			<if test="param.icon != null">
				AND icon = #{param.icon}
			</if>
			<if test="param.phone != null">
				AND phone = #{param.phone}
			</if>
			<if test="param.email != null">
				AND email = #{param.email}
			</if>
			<if test="param.nickName != null">
				AND nick_name = #{param.nickName}
			</if>
			<if test="param.ystCode != null">
				AND yst_code = #{param.ystCode}
			</if>
			<if test="param.userType != null">
				AND user_type = #{param.userType}
			</if>
		</trim>
	</sql>
	
	<sql id="updateSql">
		UPDATE user
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null">
				name = #{name},
			</if>
			<if test="loginName != null">
				login_name = #{loginName},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
			<if test="salt != null">
				salt = #{salt},
			</if>
			<if test="icon != null">
				icon = #{icon},
			</if>
			<if test="phone != null">
				phone = #{phone},
			</if>
			<if test="email != null">
				email = #{email},
			</if>
			<if test="nickName != null">
				nick_name = #{nickName},
			</if>
			<if test="ystCode != null">
				yst_code = #{ystCode},
			</if>
			<if test="userType != null">
				user_type = #{userType},
			</if>
		</trim>
	</sql>

	<sql id="deleteSql">
		DELETE from user
	</sql>

	<sql id="insertColume">
		<trim prefix="" suffixOverrides=",">
			id,
			<if test="name != null">
				name,
			</if>
			<if test="loginName != null">
				login_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="salt != null">
				salt,
			</if>
			<if test="icon != null">
				icon,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="ystCode != null">
				yst_code,
			</if>
			<if test="userType != null">
				user_type,
			</if>
		</trim>
	</sql>

	<sql id="insertValue">
		<trim prefix="" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="name != null">
				#{name},
			</if>
			<if test="loginName != null">
				#{loginName},
			</if>
			<if test="password != null">
				#{password},
			</if>
			<if test="salt != null">
				#{salt},
			</if>
			<if test="icon != null">
				#{icon},
			</if>
			<if test="phone != null">
				#{phone},
			</if>
			<if test="email != null">
				#{email},
			</if>
			<if test="nickName != null">
				#{nickName},
			</if>
			<if test="ystCode != null">
				#{ystCode},
			</if>
			<if test="userType != null">
				#{userType},
			</if>
		</trim>
	</sql>
	
	<sql id="pagingSql">
		<trim prefix="" suffixOverrides=",">
			<if test="limit != null">
				limit #{offset},#{limit}
			</if>
		</trim>
	</sql>
	
	<insert id="insert" parameterType="User" >
		INSERT INTO user(
			<include refid="insertColume"/>
		) VALUE (
			<include refid="insertValue"/>
		)
	</insert>
	
	<update id="update" parameterType="User">
		<include refid="updateSql" />
		WHERE ID = #{id}
	</update>
	
	<delete id="delete" parameterType="User">
		<include refid="deleteSql" />
		<include refid="whereSql" />
	</delete>
	
	<select id="load" parameterType="User" resultType="User">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="queryForAll" parameterType="User" resultType="User">
		<include refid="selectSql" />
		<include refid="whereSql" />
	</select>
	
	<select id="selectCount" parameterType="User"
		resultType="Integer">
		SELECT COUNT(1) AS count FROM user
		<include refid="whereSql" />
	</select>
	
	<select id="countForPage" parameterType="PagingParam"
		resultType="Integer">
		SELECT COUNT(1) AS count FROM user
		<include refid="whereSqlPaging" />
	</select>
	
	<select id="queryForPage" parameterType="PagingParam" resultType="User">
		<include refid="selectSql" />
		<include refid="whereSqlPaging" />
		<include refid="pagingSql" />
	</select>
	
</mapper>
